<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hotels">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".VIEW.UpdateCity"></activity>
        <activity android:name=".VIEW.UpdateCategory">
            <intent-filter>
                <action android:name="com.example.hotels.UpdateCategory" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".VIEW.AddCity">
            <intent-filter>
                <action android:name="com.example.hotels.AddCity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".VIEW.City">
            <intent-filter>
                <action android:name="com.example.hotels.City" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".VIEW.AddCategory" />
        <activity android:name=".VIEW.Category">
            <intent-filter>
                <action android:name="com.example.hotels.HotelWithCategories" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".VIEW.AddHotel">
            <intent-filter>
                <action android:name="com.example.hotels.AddHotel" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".VIEW.UpdateHotel">
            <intent-filter>
                <action android:name="com.example.hotels.UpdateHotel" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".VIEW.DetailsHotel">
            <intent-filter>
                <action android:name="com.example.hotels.DetailsHotel" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".VIEW.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>